################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Simba/FileContentIndex
/.vs/Simba/CopilotIndices/0.2.1653.9816
/.vs/Simba/v17/Browse.VC.db
/.vs/Simba/v17/Browse.VC.db-shm
/.vs/Simba/v17/Browse.VC.db-wal
/.vs/Simba/v17/Browse.VC.opendb
